
body {
  font: 12px sans-serif;
  font-family: 'Fjalla One', sans-serif;
  margin:0;
	padding:0;
	height:100%;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;

}

.axis{
  font-family: 'Arial Narrow', Arial, sans-serif;
  font-size:12px;
}

.barChart{
  font-family: Arial, Helvetica, sans-serif;
  font-size:10px;
}

.area {
    fill: #3db7e4;
    stroke-width: 0;
}

/*.x.axis path {
  display: none;
}*/

.line {
  fill: none;
  stroke: black;
  stroke-width: 2px;
}

#wrapper {
	min-height:100%;
	position:relative;
}

#headerwrapper{
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

#left-column{
  float: left;
  width: 850px;
  margin-bottom:40px;
}

#right-column{
  margin-left:40px;
  float:left;
  width: 300px;
  margin-bottom:10px;
}

#coldest_days {
  float: left;
  width: 25%;
}

#average_time {
  float: left;
  width: 75%;
}

#average_distance {
  float: left;
  width: 75%;
}

#ride_count {
  float: left;
  width: 75%;
}

#g.title {
  font-weight: bold;
  float: left;
  width: 75%;
}

#buttonWrapper{
  margin-top:10px;
  margin-left: auto;
  margin-right: auto;
  width:370px;
}

button{
  height:25px;
  font:1.1em 'Fjalla One', sans-serif;
  color: white;
  background-color: #FFB544;
  border-color: black;
  font-size: 14px;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  border: 2px solid transparent;
  border-radius: 4px;
  outline:none;
  opacity: 1.0;
  transition: opacity 0.3s linear;
}

button:hover {
  opacity: 0.7;
  transition: opacity;
}

#legend{
  margin-left: auto;
  margin-right: auto;
  width:800px;
  margin-top:20px;
  margin-bottom:70px;
}

#buttonGender {
  float:left;
  padding-right:5px;
  padding-left:5px;
  display: inline-block;
}

#buttonCustomer {
  float:left;
  padding-right:5px;
  display: inline-block;
}

#buttonClear {
  float:left;
  padding-right:5px;
  display: inline-block;
}

#buttonCold {
  float:left;
  margin-left:-5px;
  padding-right:5px;
  display: inline-block;
}

h1 {
    font-size: 48px;
    margin-bottom:3px;
    text-align:center;
}

h2 {
    font-size: 28px;
    margin-top:3px;
    margin-bottom:3px;
    text-align:center;
}

.input-color {
    float:left;
    position: relative;
}
.input-color p {
    padding-left: 25px;
    font-size:15px;
    margin-top: 2px;
    margin-bottom:2px;
    padding-right:12px;
    /*font-family: Arial, Helvetica, sans-serif;*/
}
.input-color .color-box {
    width: 15px;
    height: 15px;
    display: inline-block;
    background-color: #ccc;
    position: absolute;
    left: 5px;
    top: 2px;
}

footer{
  padding-left:3%;
  padding-bottom:15px;
  font-family: 'Arial Narrow', Arial, sans-serif;
  color:white;
  background-color:#2B2B2B;
  opacity: 0.9;
	height:170px;
	position:relative;
  float:left;
  width:97%;
  font-size:14px;
}

footer a{
  color:white;
}

footer ul{
  padding-left:10px;
}


#stats{
  margin-left: -10px;
  margin-right: -10px;
  width:100%;
  height:150px;
  background-image: url("../images/divvywinter.png");
  border: 1px solid;
  border-color:#575757;
}

#statswrapper{
  margin-left: auto;
  margin-right: auto;
  width:800px;
}

.stat{
  background-color:#2B2B2B;
  opacity: 0.9;
    filter: alpha(opacity=80); /* For IE8 and earlier */
  width:150px;
  float:right;
  color:white;
  height:135px;
  padding-left:-10px;
  margin-left:50px;
  margin: 5px 50px 0px 0px;
}

.stattext{
  margin-top:-40px;
  font-size:14px;
}

.stat p{
  text-align:center;
}

.big{
  font-size:45px;
  margin-top:15px;
}
.left{
  position: fixed;
  width:155px;
  color:white;
  height:150px;
}

.overlay {
  fill: none;
  pointer-events: all;
}

.focus circle {
  fill: none;
  stroke: #2B2B2B;
}

.focus text {
  font-family: 'Arial Narrow', Arial, sans-serif;
  font-weight:bold;
  font-size:10px;
  color:white;
}

.rect:hover {
  fill:brown;
}
